/* Contenedor de botones de acciones */
.botones-acciones {
  display: flex;
  justify-content: center;
  gap: 20px;        /* espacio entre botones */
  margin-bottom: 20px;
}

/* Botones con imagen */
.botones-acciones button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.botones-acciones img {
  width: 200px;     /* 🔹 ajustás el tamaño acá */
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}

.botones-acciones img:hover {
  transform: scale(2.05);
}
