extends layout

block content
  h1 Bienvenido, #{user.username} (Administrador)
  link(rel="stylesheet", href="/css/escritorioAdministrador.css")

  h2 Funciones Administrativas
  .funciones-container
    .form-group
      button(type="button" onclick="window.location.href='/admin/formulario-registrar-usuario'")
        img(src="/images/adminbotonregistrarusuario.png" alt="Registrar Usuario")
    .form-group
      button(type="button" onclick="window.location.href='/admin/formulario-asignar-clinica'")
        img(src="/images/adminbotonasiganrclinicaamedico.png" alt="Asignar Clínica a Médico")
    .form-group
      button(type="button" onclick="window.location.href='/admin/pacientes-pendientes'")
        img(src="/images/adminbotonverpacientependientes.png" alt="Ver Pacientes Pendientes de Confirmación")
    .form-group
      button(type="button" onclick="window.location.href='/admin/ver-medicos'")
        img(src="/images/adminbotovermedico.png" alt="Ver Médicos")
    .form-group
      button(type="button" onclick="window.location.href='/admin/dias-no-laborables'")
        img(src="/images/adminbotongestiodiasno.png" alt="Gestionar Días No Laborables")

  // Chatbot Botpress
  script(src="https://cdn.botpress.cloud/webchat/v2.2/inject.js")
  script(src="https://files.bpcontent.cloud/2025/02/10/15/20250210150452-T5Q4WO6D.js")
  script(src="/js/chatbot.js")
