doctype html
html
  head
    title Agenda del Médico
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Agenda del Médico

    // Contenedor para mostrar las citas en una tabla
    div#citasContainer
      if citas && citas.length > 0
        table
          thead
            tr
              th Fecha y Hora
              th Paciente
              th Motivo de Consulta
          tbody
            each cita in citas
              tr
                td= cita.fechaHora
                td= cita.nombrePaciente || 'Paciente no disponible'
                td= cita.motivoConsulta || 'Motivo no disponible'

      else
        p No hay citas disponibles para este médico.
