extends layout

block content
  h2 Agenda del Médico
  #calendar
  p#citas-mensaje Cargando citas...

  // Incluye el archivo bundle.js que debería contener el código JavaScript
  script(src="/dist/bundle.js")
