extends layout

block content
  h2 Editar Médico
  form(action="/medicos/update/#{medico.idMedico}" method="POST")
    label(for="nombre") Nombre:
    input(type="text" name="nombre" value=medico.nombre required)
    br

    label(for="especialidad") Especialidad:
    input(type="text" name="especialidad" value=medico.especialidad required)
    br

    button(type="submit") Actualizar Médico
