extends layout

block content
  h1 Bienvenida, #{user.nombre}

  nav
    ul
      li
        a(href="/secretaria/medicos") Gestionar Médicos
      li
        a(href="/secretaria/pacientes") Gestionar Pacientes
      li
        a(href="/secretaria/citas") Gestionar Citas
      li
        a(href="/logout") Cerrar Sesión

  main
    h2 Acciones Rápidas

    .acciones-rapidas
      a.btn(href="/secretaria/medicos/new") Agregar Nuevo Médico
      a.btn(href="/secretaria/pacientes/new") Agregar Nuevo Paciente
      a.btn(href="/secretaria/citas/new") Agregar Nueva Cita
