doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TurnoExpress
    link(rel="stylesheet" href="/css/style.css")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")

  body
    if !clinicaSeleccionada
      main.contenedor
        h1 Seleccione su Clínica
        div.botones
          button.btn-clinica(onclick="location.href='/saludplus'")
            img(src="/images/saludplus.png" alt="SaludPlus Logo")
            | Clínica Integral SaludPlus
          button.btn-clinica(onclick="location.href='/vidatotal'")
            img(src="/images/vidatotal.png" alt="Vida Total Logo")
            | Centro Médico Vida Total
    else
      header
        h1 TurnoExpress
        nav
          ul
            if !user
              li
                a(href="/login/paciente") Soy Paciente
              li
                a(href="/login/medico") Soy Médico
              li
                a(href="/login/secretaria") Soy Secretaria
            else
              if user.role === 'secretaria'
                li
                  a(href="/secretaria/pacientes") Pacientes
                li
                  a(href="/secretaria/medicos") Médicos
                li
                  a(href="/secretaria/citas") Citas
              if user.role === 'medico'
                li
                  a(href="/medicos") Médicos
                li
                  a(href="/medicos/citas") Mis Citas
              if user.role === 'paciente'
                li
                  a(href="/paciente/mi-perfil") Mi Perfil
              li
                a(href="/logout") Cerrar Sesión

      if user && user.role === 'secretaria'
        section.accesos-rapidos
          h2.accesos-titulo Accesos rápidos
          div.botones-rapidos
            button.btn-rapido(onclick="window.location.href='/secretaria/pacientes/new'") Agregar Paciente
            button.btn-rapido(onclick="window.location.href='/secretaria/medicos/new'") Agregar Médico
            button.btn-rapido(onclick="window.location.href='/secretaria/citas/new'") Nueva Cita

      main
        block content

    footer
      p Derechos reservados © Fernandez Jorge #{new Date().getFullYear()}

    // Agregar tus scripts aquí
    script(src="/botondinamicoAgendaEnCita.js")
    script(src="/searchPaciente.js")
