doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aplicación Médica
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/searchMedico.js")  // Vinculando el archivo JS de búsqueda
  body
    header
      h1 Aplicación Médica
      nav
        ul
          li
            a(href="/patients") Pacientes
          li
            a(href="/medicos") Médicos
          li
            a(href="/citas") Citas
          li
            a(href="/historias_clinicas") Historias Clínicas
    main
      block content
    footer
      p Derechos reservados © #{new Date().getFullYear()}
