extends layout

block content
  div.login-container
    div.form-container
      h2 Iniciar Sesión Secretaria
      form(action="/login/secretaria" method="POST")
        div.form-group
          input(type="text" name="username" placeholder="Nombre de usuario" required)
        div.form-group
          input(type="password" name="password" placeholder="Contraseña" required)
        div
          button(type="submit") Entrar
    div.image-container
      img(src="/images/ImgLogSecr.jpg" alt="Login Secretaria")
