extends layout

block content
  h2 Iniciar Sesión Secretaria
  form(action="/login/secretaria" method="POST")
    input(type="text" name="username" placeholder="Nombre de usuario" required)
    input(type="password" name="password" placeholder="Contraseña" required)
    button(type="submit") Entrar
