extends layout

block content
  link(rel="stylesheet" href="/path/to/styles.css") 
  h2 Horarios Libres del Médico

  .containeradm
    if horariosLibres.length
      each horario in horariosLibres
        .horario-cardadm= horario
    else
      p No hay horarios libres para mostrar.
